*.o
*.sym
*.asm
.offset
boot/boot.bin
boot/boot.elf
disk.img
kernel.bin
kernel.elf
tools/build
tools/mkfs.minix
user/cat
user/cp
user/hello
user/init
user/ls
user/mkdir
user/rm
user/rmdir
user/sh
user/stat
user/sync
user/pwd

